.image {
  position: absolute;
  bottom: 0;
  height: 60vh;
  display: none;
  margin: 10vh 10vw;
  z-index: 2;
}

.image.user {
  left: 0;
  animation: slide-in-user 1s;
}

.image.me {
  right: 0;
  transform: scaleX(-1); /* flip */
  animation: slide-in-me 1s;
}

.image.present {
  bottom: 0;
  margin: 0;
  height: auto;
  animation: fade-in 1s !important;
}

.present-inner-container {
  cursor: pointer;
  position: absolute;
  animation: grab-attention 2.5s ease-in-out infinite;
  clip-path: circle(100% at center);
}

.present-inner-container.open {
  animation: none;
  clip-path: circle(0% at center);
}

#insidePresent {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0174f6;
  color: white;
  font-size: 3vw;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

#insidePresent a {
  color: lightblue;
}

#insidePresent > * {
  margin: 0;
  padding: 2vh 0;
}

#insidePresent.open {
  transition: clip-path 0.3s ease-in-out;
  opacity: 0.9;
  pointer-events: unset;
  animation: reduce-size 3s 3s forwards;
}

#insidePresent.open a {
  opacity: 0;
  animation: fade-in 1s 3s forwards;
}

.present-container {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#container {
  position: absolute;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  animation: fade-in 1s;
}

.ready {
  display: block;
}

.move-up {
  animation: move-up 1s 1s ease-in-out forwards;
}

.credit {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 0.8em;
  background-color: #e6e6e6;
  padding: 0.5em;
  border-bottom-left-radius: 5px;
  text-decoration: none;
  z-index: 500;
  animation: credit-fade-in 1s;
  opacity: 0.7;
}

.credit.opaque {
  opacity: 1.0;
}

* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

.credit:hover > span {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.msg-container {
  position: absolute;
  width: 100vw;
  top: 10vh;
  z-index: 2;
}

.msg-container > h1 {
  text-align: center;
  color: #BD0019;
  display: block;
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-shadow: 0.2em 0.2em 50px #BD0019, 0.2em 0px 50px #BD0019, 0px 0.2em 50px #BD0019, -0.2em -0.2em 50px #BD0019, -0.2em 0px 50px #BD0019, 0px -0.2em 50px #BD0019, 0px 0px 50px #BD0019;
  animation: fade-in 1s;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white); /* Workaround for Chromium's selective colour inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes credit-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

@keyframes slide-in-user {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slide-in-me {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10vh);
  }
}

@keyframes grab-attention {
  0%, 100% {
    transform: rotateX(-30deg);
    bottom: 0;
  }

  10%, 90% {
    transform: rotateX(0deg);
  }

  30%, 70% {
    transform: rotateX(0deg);
  }

  40% {
    transform: rotateX(-30deg);
  }

  50% {
    transform: rotateX(30deg);
    bottom: 20vh;
  }

  60% {
    transform: rotateX(0deg);
    bottom: 20vh;
  }
}

@keyframes reduce-size {
  from {
    clip-path: unset;
    border-radius: 0px;
  }

  50% {
    border-radius: 15px;
  }

  to {
    font-size: 2vw;
    clip-path: unset;
    border-radius: 15px;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
  }
}